<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
<script>
$(function() {
    $('.banner').unslider();
});
</script>
<div class="banner">
    <ul>
        <li>123</li>
        <li>456</li>
        <li>789</li>
    </ul>
</div>